.faq {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 0 -30px 40px;
    padding: 0 20px;
    background-color: var(--color-secondary);

    .title {
        color: var(--color-text);
        margin: 40px 0;
        text-align: center;
        text-shadow: 2px -2px 2px #e40000;
    }

    .container {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: flex-start;
        max-width: 980px;
        margin-bottom: 40px;

        .item {
            display: flex;
            flex-flow: column wrap;
            justify-content: flex-start;
            align-items: flex-start;
            flex: 1;
            min-width: 300px;

            .question {
                font-size: 24px;
                font-weight: 500;
            }

            .answer {
            }
        }
    }
}
