.root {
    display: flex;
    flex-flow: column nowrap;
    margin: 15px 10px;
}

.button {
    margin-left: 3px;
    background-color: #bcbcbc;
    color: #000;
    outline: none;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
        background-color: #a9a9a9;
    }

    &:disabled {
        color: #ccc;
    }
}

.form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    min-width: 200px;

    .field {
        width: 100%;
    }

    input {
        display: flex;
        flex: 1;
        text-align: left;
        border: none;
        border-radius: 5px;
        background-color: #181818;
        color: #fff;
        padding: 8px;
        outline: none;
        margin-bottom: 10px;

        &:focus {
            box-shadow: 0 0 1px 1px #b19500;
        }
    }

    select {
        background-color: #181818;
        border: none;
        padding: 10px;
        font-size: 14px;
        width: 100%;
        color: #fff;
        margin-bottom: 10px;
    }
}
