.container {
    display: flex;
    flex-flow: column wrap;
    width: 300px;
    padding: 10px 10px 20px;
    flex: 1;
    background-color: var(--color-secondary);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-radius: 15px;

    @media (max-width: 678px) {
        width: 100%;
        max-width: 400px;
        justify-self: center;
        align-self: center;
    }
}

.heading {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--color-secondary-light);
    padding-bottom: 10px;

    p {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .game {
        font-size: 16px;
        line-height: 1;
        font-weight: 300;
        text-transform: uppercase;
    }

    .orderType {
        font-size: 20px;
        line-height: 1;
        font-weight: 400;
    }
}

.details {
    display: flex;
    flex-flow: column wrap;
    margin-top: 20px;
}

.status {
    display: flex;
    flex-flow: column wrap;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

    .label {
        font-weight: 300;
        margin-bottom: 15px;
    }
}

.progress {
    display: flex;
    flex-flow: column wrap;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

    .label {
        font-weight: 300;
        margin-bottom: 15px;
    }

    .bar {
        width: 100%;
        padding: 0 20px;
    }
}

.apexRankDetails {
    display: flex;
    flex-flow: column wrap;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--color-secondary-light);

    .ranks {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        text-transform: uppercase;

        .rank {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
        }
    }

    .meta {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        p {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
    }

    .kills {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 10px;
        color: #ff9c0d;
    }
}
